* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.flex {
    display: flex;
}
.container {
    max-width: 1024px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}
.container-wrapper {
    padding: 20px;
}
.h2box h2 {
    font-size: 17px;
    color: rgba(0, 0, 0, 0.263);
    margin-left: 20px;
}
.picture-box {
    width: 50%;
    height: 90vh;
}
.picture-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.registration-box {
    width: 50%;
    background-color:white;
    height: 90vh;
    border-radius: 22px;
    margin-left: -20px;
}
.registration-pictur-wrapper {
  max-width: 200px;  
  margin: 0 auto ;
}
.registration-pictur-wrapper img {
    width: 100%;
}
.registration-form {
    flex-direction: column;
    justify-content: center;
    width: calc(80%);
    margin: 0 auto;
}
.form-wrapper {
    flex-direction: column;
    padding: 5px;
}
.form-wrapper label {
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #003D61;
    padding: 3px;
}
.form-wrapper input {
    border-right: none;
    border-top: none; 
    border-left: 1.5px solid #003D61;
    border-bottom: 1.5px solid #003D61;
}
.form-wrapper ::placeholder {
    font-size: 12px;
    text-align: center;
    margin-right: calc(40%);
    color: rgba(0, 0, 0, 0.205);
}
.information-box {
    width: calc(80%);
    margin: 0 auto;
    margin-top: 30px;
}
.button-icon {
    width: 35px;
    height: 20px;
    background-color: #233D4ED4;
    border-radius: 100px;
}
.icon-item {
    width: calc(50%);
    height: calc(80%);
    background-color: white;
    border-radius: 50%;
    margin-left: 1.5px;
    margin-top: 1.5px; 
}
.information-item p {
    font-size: 15px;
    margin-left: calc(10px);
    color: #003D61;
}
.information-item a {
    color: #ED2980;
}
.login-link {
    width: 50%;
    height:30px;
    margin: 0 auto;
    margin-top: 20px;
}
.login-link p {
    color: #003D61;
}
.login-link a {
    color: #ED2980;
}
.networks-wrapper {
    width: 50%;
    height: 50px;
    margin: 0 auto;
    margin-top: 20px;
}
.network-items {
    width: 20%;
    margin: 0 auto;
}
.network-items img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
@media (max-width: 768px) {
    .container-wrapper {
        max-width: 768px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .picture-box {
        width: 100%;
    }
    .registration-box {
        width: 100%;
        margin-left: 0;
        margin-top: -40px;
    }
}